.form-group {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 500px;
    color: white;
  }

  .form-input {
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
    border-radius: 2px;
    min-height: 1.5rem;
  }

  .form-textarea {
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
    border-radius: 2px;
    max-width: 500px;
  }
}
